<div class="resetJustify jk-about section-content" style="background-image: url('assets/img/about_bg.png');">
    <div class="container-fluid" style="margin-top: 13%;">
        <div class="row">
            <div class="col-12 text-center">
                <div class="jk-section-header">
                    <p>Podstawowe informacje</p>
                    <h2>O mnie</h2><br />
                    <div class="jk-info-dot">
                        <div class="jk-info-dot-over"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row jk-bg-dark">
                <div class="col-12">
                    <p>Junior Front-End Developer</p>
                    <h3>Michał Janocha</h3>
                    <div class="jk-info-dot">
                        <div class="jk-info-dot-over"></div>
                    </div>
                    <p>792 042 237</p>
                    <div class="jk-info-dot" style="margin-left: 25px;">
                        <div class="jk-info-dot-over"></div>
                    </div>
                    <p>michaljanocha98@gmail.com</p>
                </div>
                <div class="col-12">
                    <p class="jk-actual-content">Nazywam się Michał, mam 21 lat, projektowaniem oraz tworzeniem zajmuję
                        się od 4 lat. Podczas
                        całego tego okresu zetknąłem się z wieloma językami oraz technologiami takimi jak: LUA, HTML5,
                        CSS3, JS, Twig, Bootstrap, Symfony 4, SCSS, jQuery, PHP a także z Photoshopem. Zdecydowanie
                        dłużej zajmuję się projektowaniem stron oraz aplikacji niż samym programowaniem. Jako, że
                        dorabiam jako freelancer to ze wszystkimi problemami staram się radzić sobie sam,
                        samodzielnie tworzę Back-End oraz Front-End (chociaż dużo pewniej czuję się we Front-Endzie).
                        Dobrze radzę sobie z dokumentacjami danych języków programowania. Dobrze operuję językiem
                        angielskim, dlatego myślę, że odnalazłbym się nawet w anglojęzycznym zespole. Wszystkie projekty
                        które wychodzą spod
                        mojej ręki są w pełni responsywne. Staram się przestrzegać zasad W3C a także poszerzać wiedzę
                        poprzez testy np.
                        na „Fiverr.com”.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center">
                    <div class="jk-section-header">
                        <p>Szkoły, kursy, szkolenia</p>
                        <h2>Edukacja</h2><br />
                        <div class="jk-info-dot">
                            <div class="jk-info-dot-over"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row jk-bg-dark">
                <div class="col-12">
                    <div class="jk-edu-block">
                        <div class="jk-timeline"></div>
                        <div class="jk-date">
                            <p>2014</p>
                            <div class="jk-info-dot">
                                <div class="jk-info-dot-over"></div>
                            </div>
                        </div>
                        <div class="jk-content-block">
                            <h4>Gimnazjum im. Jana Pawla II w Niegowie</h4>
                            <p>Ukończyłem gimazjum z pozytywnie zdanym egzaminem gimnazjalnym</p>
                        </div>
                    </div>

                    <div class="jk-edu-block">
                        <div class="jk-timeline"></div>
                        <div class="jk-date">
                            <p>2018</p>
                            <div class="jk-info-dot">
                                <div class="jk-info-dot-over"></div>
                            </div>
                        </div>
                        <div class="jk-content-block">
                            <h4>ZS. nr. 1 im. Eugeniusza Kwiatkowskiego w Myszkowie</h4>
                            <p>Ukończyłem technikum w zawodzie Mechatronik, zdałem wszystkie
                                kwalifikacje (tj. E03, E18, E19), egzamin maturalny oraz kurs na
                                operatora maszyn CNC</p>
                        </div>
                    </div>

                    <div class="jk-edu-block">
                        <div class="jk-timeline"></div>
                        <div class="jk-date">
                            <p>2019</p>
                            <div class="jk-info-dot">
                                <div class="jk-info-dot-over"></div>
                            </div>
                        </div>
                        <div class="jk-content-block">
                            <h4>Uniwersytet Śląski</h4>
                            <p>Z chęci rozwijania się jako programista w październiku tego roku rozpoczynam studia
                                zaoczne na kierunku Informatyka</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center">
                    <div class="jk-section-header">
                        <p></p>
                        <h2>Doświadczenie</h2><br />
                        <div class="jk-info-dot">
                            <div class="jk-info-dot-over"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row jk-bg-dark jk-exp text-center">
                <div class="col-12">
                    <p class="jk-exp-sm">Photoshop</p>
                    <h5>2014 - Do dziś</h5>
                    <p>Od tylu lat zajmuję się projektowaniem w Photoshopie, zajmowałem się już wszystkim co możliwe do
                        stworzenia w Photoshopie, z mniej lub bardziej zadowalającym efektem. Nie zamieściłem tych
                        bardzo starych prac, ponieważ odbiegały poziomem i to dość znacznie.</p>
                    <p class="jk-exp-sm">Programowanie</p>
                    <h5>2017 - Do dziś</h5>
                    <p>W 2017 próbowałem bardzo wielu języków, w tym Javy oraz C#, ostatecznie skończyłem na językach
                        Webowych, mimo bardzo dużej ilości technologii które można zastosować to czuję, że to właśnie w
                        tym odnalazłem się najlepiej, głównie dzięki temu, że efekty pracy można naprawdę szybko
                        zobaczyć. Od tamtego czasu do dnia dzisiejszego jestem samoukiem ze wszystkiego, niestety nie
                        posiadam żadnego doświadczenia w pracy na etacie jako programista</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center">
                    <div class="jk-section-header">
                        <p>Czym zajmuję się na codzień</p>
                        <h2>Zainteresowania</h2><br />
                        <div class="jk-info-dot">
                            <div class="jk-info-dot-over"></div>
                        </div>
                        <div class="jk-tip">
                            <i class="fas fa-info-circle jk-interest-ico"></i>
                            <p>Przesuń kursor na bloczek z zainteresowaniem aby dowiedzieć się więcej</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- col-12 col-sm-6 col-md-4 -->
            <div class="row jk-bg-dark align-items-start">
                <div class="card-columns">
                    <div class="card">
                        <div class="jk-interest">
                            <img src="assets/photos/ps.jpg" class="jk-interest-pic" />
                            <div class="jk-interest-content text-center">
                                <i class="fab fa-adobe jk-interest-icon"></i>
                                <h3>Photoshop</h3>
                                <p>Może to trochę dziwne, że mieszam pracę z zainteresowaniem ale naprawdę lubię
                                    pracować w Photoshopie, poznawać nowe techniki oraz zastosowania</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="jk-interest">
                            <img src="assets/photos/car.jpg" class="jk-interest-pic" />
                            <div class="jk-interest-content text-center">
                                <i class="fas fa-car jk-interest-icon"></i>
                                <h3>Motoryzacja</h3>
                                <p>Mimo, że jestem raczej przeciętnym mechanikiem to uwielbiam samochody</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="jk-interest">
                            <img src="assets/photos/gaming.jpg" class="jk-interest-pic" />
                            <div class="jk-interest-content text-center">
                                <i class="fas fa-gamepad jk-interest-icon"></i>
                                <h3>Gry</h3>
                                <p>W wolnej chwili lubię zagrać w jakiś niekoniecznie nowy tytuł, preferuję tryb
                                    wieloosobowy chociaż gry takie jak choćby Wiedźmin 3 też potrafią mnie wciągnąć</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="jk-interest">
                            <img src="assets/photos/code.jpg" class="jk-interest-pic" />
                            <div class="jk-interest-content text-center">
                                <i class="fas fa-code jk-interest-icon"></i>
                                <h3>Programowanie</h3>
                                <p>Uwielbiam poznawać nowe technologie oraz nowe języki programowania, sam fakt
                                    tworzenia czegoś z
                                    niczego jest dla mnie interesujący</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="jk-interest">
                            <img src="assets/photos/blackhole.jpg" class="jk-interest-pic" />
                            <div class="jk-interest-content text-center">
                                <i class="fas fa-video jk-interest-icon"></i>
                                <h3>Filmy</h3>
                                <p>Od czasu do czasu lubię obejrzeć film, z każdego gatunku. Do tej pory filmem który
                                    zrobił na mnie największe wrażenie był "Interstellar"</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="jk-interest">
                            <img src="assets/photos/iot.jpg" class="jk-interest-pic" />
                            <div class="jk-interest-content text-center">
                                <i class="fas fa-wifi jk-interest-icon"></i>
                                <h3>Internet rzeczy</h3>
                                <p>Ukończyłem szkołę jako Mechatronik, nauczono mnie tam podstawowego programowania oraz
                                    podłączenia sterowników PLC, i stąd wzięło się moje zainteresowanie inteligentymi
                                    domami. Mimo, że nie wykonałem nigdy takiego systemu to na pewno to zrobię w
                                    przyszłości</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>