<div class="resetJustify jk-about jk-contact section-content" style="background-image: url('assets/img/about_bg.png');">
    <div class="container-fluid" style="margin-top: 13%;">
        <div class="row">
            <div class="col-12 text-center">
                <div class="jk-section-header">
                    <p>Telefon, E-mail, Facebook</p>
                    <h2>Dane kontaktowe</h2><br />
                    <div class="jk-info-dot">
                        <div class="jk-info-dot-over"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4">
                <a href="https://www.facebook.com/michal.janocha4" target="_blank">
                    <div class="jk-contact-box text-center jk-bg-dark">
                        <div class="jk-contact-icon-wrap"><i class="fab fa-facebook-f"></i></div>
                        <h5>Facebook</h5>
                        <p>Mój prywatny profil na Facebooku</p>
                    </div>
                </a>
            </div>
            <div class="col-12 col-md-4">
                <a href="https://www.facebook.com/jekorgi/" target="_blank">
                    <div class="jk-contact-box text-center jk-bg-dark">
                        <div class="jk-contact-icon-wrap"><i class="fab fa-facebook-f"></i></div>
                        <h5>Facebook</h5>
                        <p>Moja strona na Facebook</p>
                    </div>
                </a>
            </div>
            <div class="col-12 col-md-4">

                <div class="jk-contact-box text-center jk-bg-dark">
                    <div class="jk-contact-icon-wrap"><i class="fas fa-envelope"></i></div>
                    <h5>E-mail</h5>
                    <p>michaljanocha98@gmail.com</p>
                </div>

            </div>
            <div class="col-12">

                <div class="jk-contact-box text-center jk-bg-dark">
                    <div class="jk-contact-icon-wrap"><i class="fas fa-phone"></i></div>
                    <h5>Telefon</h5>
                    <p>792 042 237</p>
                </div>

            </div>
        </div>
    </div>
</div>