<div class="container-fluid jk-main" style="text-align: center; background-image: url('assets/img/main_bg.png');">
    <div class="row">
        <div class="col-12">
            <img src="assets/img/breaker.png" class="img-fluid jk-breaker-ico" />
        </div>
        <div class="col-12">
            <h1>Strona internetowa, panel klienta, wizytówki, obsługa maila...</h1>
            <p>To wszystko może brzmieć skomplikowanie na początku Twojej przygody z rozwojem firmy w
                internecie<br />Ja nazywam się <strong>Michał Janocha</strong> i jestem tutaj aby Ci pomóc!
                Zapraszam do zapoznania się z ofertą</p>
        </div>
    </div>
</div>