<div class="resetJustify jk-about section-content" style="background-image: url('assets/img/about_bg.png');">
    <div class="container-fluid" style="margin-top: 13%;">
        <div class="jk-view-project" style="left: 100%;">
            <div class="jk-view-content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="content-header">
                                <div class="jk-view-project-nav">
                                    <div class="jk-view-nav-item text-center" id="content-nav-left"
                                        data-project-id="Brak">
                                        <p>Poprzedni projekt</p><i class="fas fa-angle-left"></i>
                                    </div>
                                    <div class="jk-view-nav-item text-center jk-close" id="content-nav-close">
                                        <p>Zamknij projekt</p><i class="fas fa-times"></i>
                                    </div>
                                    <div class="jk-view-nav-item text-center" id="content-nav-right"
                                        data-project-id="2">
                                        <p>Następny projekt</p><i class="fas fa-angle-right"></i>
                                    </div>
                                </div>
                                <h2 class="project-title jk-load-anim" id="project-title">sdsddsds</h2>
                            </div>
                        </div>
                        <div class="col-md-4 col-12">
                            <div class="project-content jk-load-anim">
                                <h5>Opis projektu</h5>
                                <p id="project-descr">sddsdsds</p>
                                <h5>Zastosowane technologie</h5>
                                <div class="project-techs"></div>
                            </div>
                        </div>
                        <div class="col-md-8 col-12">
                            <div class="project-imgs jk-load-anim">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <div class="jk-section-header">
                    <p>Moje projekty</p>
                    <h2>Portfolio</h2><br />
                    <div class="jk-info-dot">
                        <div class="jk-info-dot-over"></div>
                    </div>
                    <div class="jk-tip">
                        <i class="fas fa-info-circle jk-interest-ico"></i>
                        <p>Kliknij w bloczek aby zobaczyć więcej szczegółów na temat projektu</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="container">
                <div class="card-columns">
                    <div class="card">
                        <div class="jk-interest jk-project" data-project-id="1">
                            <img alt="Podgląd projektu Althim" src="assets/projects/a_1.png" class="jk-interest-pic" />
                            <div class="jk-interest-content text-center">
                                <p class="jk-interest-icon">Photoshop</p>
                                <h3>Althim</h3>

                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="jk-interest jk-project" data-project-id="2">
                            <img alt="Podgląd projektu damiangonciarz.pl" src="assets/projects/dg_2.png"
                                class="jk-interest-pic jk-portfolio-pic" />
                            <div class="jk-interest-content text-center">
                                <p class="jk-interest-icon">Photoshop, Programowanie</p>
                                <h3>damiangonciarz.pl</h3>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="jk-interest jk-project" data-project-id="3">
                            <img alt="Podgląd projektów stron internetowych" src="assets/projects/pf_1.png"
                                class="jk-interest-pic jk-portfolio-pic" />
                            <div class="jk-interest-content text-center">
                                <p class="jk-interest-icon">Photoshop, Programowanie</p>
                                <h3>Niedokończone projekty stron internetowych</h3>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="jk-interest jk-project" data-project-id="4">
                            <img alt="Podgląd projektów dla serwerów gier" src="assets/projects/gf_3.png"
                                class="jk-interest-pic jk-portfolio-pic" />
                            <div class="jk-interest-content text-center">
                                <p class="jk-interest-icon">Photoshop</p>
                                <h3>Niedokończone projekty dla serwerów gier</h3>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="jk-interest jk-project" data-project-id="5">
                            <img alt="Podgląd projektu AnaQueza" src="assets/projects/an_1.png"
                                class="jk-interest-pic jk-portfolio-pic" />
                            <div class="jk-interest-content text-center">
                                <p class="jk-interest-icon">Photoshop</p>
                                <h3>AnaQueza</h3>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="jk-interest jk-project" data-project-id="6">
                            <img alt="Podgląd projektu Czyscioszek.czest.pl" src="assets/projects/cz_2.png"
                                class="jk-interest-pic jk-portfolio-pic" />
                            <div class="jk-interest-content text-center">
                                <p class="jk-interest-icon">Photoshop, Programowanie</p>
                                <h3>Czyscioszek.czest.pl</h3>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="jk-interest jk-project" data-project-id="7">
                            <img alt="Podgląd różnych projektów" src="assets/projects/in_3.png"
                                class="jk-interest-pic jk-portfolio-pic" />
                            <div class="jk-interest-content text-center">
                                <p class="jk-interest-icon">Photoshop</p>
                                <h3>Projekty wizytówek, ulotek, banerów itp.</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>