<div class="resetJustify jk-about jk-skills section-content" style="background-image: url('assets/img/about_bg.png');">
    <div class="container-fluid" style="margin-top: 13%;">
        <div class="row">
            <div class="col-12 text-center">
                <div class="jk-section-header">
                    <p>Techniczne</p>
                    <h2>Umiejętności</h2><br />
                    <div class="jk-info-dot">
                        <div class="jk-info-dot-over"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-left: auto; margin-right: auto;">
            <div class="col-12 col-md-6">
                <div class="jk-skill-wrap">
                    <div class="jk-skill-icon-wrap">
                        <img src="assets/img/skill_bg.png" class="img-fluid jk-skill-icon-bg" />
                        <img src="assets/icons/html.png" class="img-fluid jk-skill-icon" />
                    </div>
                    <div class="jk-skill-content">
                        <h5>
                            <div class="jk-info-dot">
                                <div class="jk-info-dot-over"></div>
                            </div>HTML5
                        </h5>
                        <p>Podstawa podstaw, dość płynnie operuję tym językiem, tak jak w każdym innym przypadku nie
                            mogę powiedzieć, że znam ten język doskonale, programowanie jest dziedziną w której nawet o
                            tak podstawowym języku można nie wiedzieć wszystkiego.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="jk-skill-wrap">
                    <div class="jk-skill-icon-wrap">
                        <img src="assets/img/skill_bg.png" class="img-fluid jk-skill-icon-bg" />
                        <img src="assets/icons/css.png" class="jk-skill-icon" />
                    </div>
                    <div class="jk-skill-content">
                        <h5>
                            <div class="jk-info-dot">
                                <div class="jk-info-dot-over"></div>
                            </div>CSS3
                        </h5>
                        <p>Od pewnego czasu do tworzenia stylistyki na stronie używam SCSS, bardzo ułatwia pracę z CSS.
                            Myślę, że z podstawowymi rzeczami radzę sobie bardzo dobrze (podstawy traktuję jako wszystko
                            co Państwo mogą zobaczyć w tym CV). W razie problemów korzystam z dokumentacji oraz
                            StackOverflow.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="jk-skill-wrap">
                    <div class="jk-skill-icon-wrap">
                        <img src="assets/img/skill_bg.png" class="img-fluid jk-skill-icon-bg" />
                        <img src="assets/icons/lua.png" class="jk-skill-icon" />
                    </div>
                    <div class="jk-skill-content">
                        <h5>
                            <div class="jk-info-dot">
                                <div class="jk-info-dot-over"></div>
                            </div>Lua
                        </h5>
                        <p>Pierwszy język którego się uczyłem na potrzeby gry komputerowej. Tutaj między innymi
                            nauczyłem się podstawowej składni która powtarza się w każdym języku (tj. pętle, warunki,
                            zmienne, funkcje itp) oraz programowania obiektowego</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="jk-skill-wrap">
                    <div class="jk-skill-icon-wrap">
                        <img src="assets/img/skill_bg.png" class="img-fluid jk-skill-icon-bg" />
                        <img src="assets/icons/sf.png" class="jk-skill-icon" />
                    </div>
                    <div class="jk-skill-content">
                        <h5>
                            <div class="jk-info-dot">
                                <div class="jk-info-dot-over"></div>
                            </div>Symfony4
                        </h5>
                        <p>Pierwszy Framework back-endowy który poznałem, to dzięki niemu powstała strona <a
                                href="https://czyscioszek.czest.pl" target="_blank">Czyscioszek</a>. Nie jestem wybitny
                            jeśli chodzi o Symfony, natomiast potrafię tworzyć proste aplikacje i przy niewielkim
                            treningu myślę, że byłbym w stanie tworzyć dużo bardziej rozbudowane aplikacje</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="jk-skill-wrap">
                    <div class="jk-skill-icon-wrap">
                        <img src="assets/img/skill_bg.png" class="img-fluid jk-skill-icon-bg" />
                        <img src="assets/icons/twig.png" class="jk-skill-icon" />
                    </div>
                    <div class="jk-skill-content">
                        <h5>
                            <div class="jk-info-dot">
                                <div class="jk-info-dot-over"></div>
                            </div>TWIG
                        </h5>
                        <p>W parze z Symfony idzie TWIG, czyli mikro język do prostszego tworzenia szablonów strony.
                            Bardzo przyjemna rzecz, niesamowicie ułatwia pracę z Symfony i nie tylko. Początkowo byłem
                            bardzo pesymistycznie nastawiony do TWIGA, niestety Symfony wymagał tego lub innego silnika
                            do tworzenia szablonów więc musiałem go poznać i jestem nim bardzo miło zaskoczony</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="jk-skill-wrap">
                    <div class="jk-skill-icon-wrap">
                        <img src="assets/img/skill_bg.png" class="img-fluid jk-skill-icon-bg" />
                        <img src="assets/icons/js.png" class="jk-skill-icon" />
                    </div>
                    <div class="jk-skill-content">
                        <h5>
                            <div class="jk-info-dot">
                                <div class="jk-info-dot-over"></div>
                            </div>JavaScript/jQuery
                        </h5>
                        <p>Nie jestem zaawansowanym programistą JavaScript ale potrafię poradzić sobie ze wszystkim
                            czego potrzebuję, uczę się ciągle nowych rzeczy które wymagane są przy danym projekcie.
                            jQuery
                            używam głównie ze względu na prostsze selektory</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="jk-skill-wrap">
                    <div class="jk-skill-icon-wrap">
                        <img src="assets/img/skill_bg.png" class="img-fluid jk-skill-icon-bg" />
                        <img src="assets/icons/php.png" class="jk-skill-icon" style="filter: invert(100%);" />
                    </div>
                    <div class="jk-skill-content">
                        <h5>
                            <div class="jk-info-dot">
                                <div class="jk-info-dot-over"></div>
                            </div>PHP
                        </h5>
                        <p>Podobnie jak z JavaScriptem, nie jestem zaawansowanym programistą a potrzebnych rzeczy uczę
                            się na bieżąco</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="jk-skill-wrap">
                    <div class="jk-skill-icon-wrap">
                        <img src="assets/img/skill_bg.png" class="img-fluid jk-skill-icon-bg" />
                        <img src="assets/icons/bootstrap.png" class="jk-skill-icon" />
                    </div>
                    <div class="jk-skill-content">
                        <h5>
                            <div class="jk-info-dot">
                                <div class="jk-info-dot-over"></div>
                            </div>Bootstrap4
                        </h5>
                        <p>Bootstrapa znam dość dobrze, głównie ze względu na to, że ułatwia tworzenie siatki strony.
                            Ogromna oszczędność czasu</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="jk-skill-wrap">
                    <div class="jk-skill-icon-wrap">
                        <img src="assets/img/skill_bg.png" class="img-fluid jk-skill-icon-bg" />
                        <img src="assets/icons/photoshop.png" class="jk-skill-icon" />
                    </div>
                    <div class="jk-skill-content">
                        <h5>
                            <div class="jk-info-dot">
                                <div class="jk-info-dot-over"></div>
                            </div>Photoshop CS6
                        </h5>
                        <p>Z Photoshopem mam dość duże obeznanie jeśli chodzi o projekty UI/Gui/Hud i inne związane z
                            interfejsami. Poza interfejsami zajmuję się także tworzeniem logo, edycją zdjęć, tworzeniem
                            banerów na serwisy społecznościowe, wizytówkami i wieloma innymi rzeczami które klient
                            chciałby przenieść na ekranowe płótno</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="jk-skill-wrap">
                    <div class="jk-skill-icon-wrap">
                        <img src="assets/img/skill_bg.png" class="img-fluid jk-skill-icon-bg" />
                        <img src="assets/icons/eng.png" class="jk-skill-icon" style="filter: invert(100%);" />
                    </div>
                    <div class="jk-skill-content">
                        <h5>
                            <div class="jk-info-dot">
                                <div class="jk-info-dot-over"></div>
                            </div>Język Angielski
                        </h5>
                        <p>Warto także wspomnieć o języku Angielskim z którym mam obycie na codzień, czego
                            potwierdzeniem mogą być moje wyniki z matury:<br /><br />
                            <span class="jk-percentages">100%</span> z matury ustnej<br /><br />
                            <span class="jk-percentages">96%</span> z matury pisemnej
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <div class="jk-section-header">
                    <p>Miękkie</p>
                    <h2>Umiejętności</h2><br />
                    <div class="jk-info-dot">
                        <div class="jk-info-dot-over"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-left: auto; margin-right: auto;">
            <div class="col-12 col-md-6">
                <div class="jk-skill-wrap">
                    <div class="jk-skill-icon-wrap">
                        <img src="assets/img/skill_bg.png" class="img-fluid jk-skill-icon-bg" />
                        <img src="assets/icons/com.png" class="jk-skill-icon" style="filter: invert(100%);" />
                    </div>
                    <div class="jk-skill-content">
                        <h5>
                            <div class="jk-info-dot">
                                <div class="jk-info-dot-over"></div>
                            </div>Komunikatywność
                        </h5>
                        <p>Ogólnie lubię rozmawiać, również na temat problemów z kodem na które sam zmarnowałbym dużo
                            więcej czasu. Zawsze po ustaleniu wszelkich szczegółów pracy, totalnie się odcinam aby móc w
                            spokoju pracować, cisza pomaga mi się skupić. Oczywiście za każdym razem gdy pojawia się
                            jakakolwiek niejasność to kontaktuje się z klientem ponownie.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="jk-skill-wrap">
                    <div class="jk-skill-icon-wrap">
                        <img src="assets/img/skill_bg.png" class="img-fluid jk-skill-icon-bg" />
                        <img src="assets/icons/time.png" class="jk-skill-icon" style="filter: invert(100%);" />
                    </div>
                    <div class="jk-skill-content">
                        <h5>
                            <div class="jk-info-dot">
                                <div class="jk-info-dot-over"></div>
                            </div>Punktualność
                        </h5>
                        <p>Spóźniam się jedynie w bardzo skrajnych sytuacjach, poza tym nigdy mi się to nie zdarza.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="jk-skill-wrap">
                    <div class="jk-skill-icon-wrap">
                        <img src="assets/img/skill_bg.png" class="img-fluid jk-skill-icon-bg" />
                        <img src="assets/icons/person.png" class="jk-skill-icon" style="filter: invert(100%);" />
                    </div>
                    <div class="jk-skill-content">
                        <h5>
                            <div class="jk-info-dot">
                                <div class="jk-info-dot-over"></div>
                            </div>Osobowość
                        </h5>
                        <p>Mam bardzo duże poczucie humoru, w chwilach "luźniejszych" potrafię pożartować oraz
                            porozmawiać na każdy temat.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="jk-skill-wrap">
                    <div class="jk-skill-icon-wrap">
                        <img src="assets/img/skill_bg.png" class="img-fluid jk-skill-icon-bg" />
                        <img src="assets/icons/work.png" class="jk-skill-icon" style="filter: invert(100%);" />
                    </div>
                    <div class="jk-skill-content">
                        <h5>
                            <div class="jk-info-dot">
                                <div class="jk-info-dot-over"></div>
                            </div>Pracowitość
                        </h5>
                        <p>Bardzo lubię tworzyć, tak po prostu. Potrafiłem czasem pracować nad projektem po kilkanaście
                            godzin bez przerwy, nie było to napewno zdrowe natomiast dopóki nie pojawią się żadne
                            krytyczne błędy to potrafię bardzo długo pracować. Jedyne czego mi potrzeba to internetu,
                            komputera i.. kawy.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>