@import 'config';

::-webkit-scrollbar {
    display: none;
}


body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    background-color: $darkText;
}

.jk-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -15;
    opacity: 0.26;
}

.fluid-full {
    min-height: 100vh;
}

.jk-img-fluid {
    max-width: 100%;
    height: auto;
}

.jk-wrap {
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    max-height: 100vh;
}

.jk-nav-btn-wrap {
    position: fixed;
    bottom: 25px;
    right: 45px;
    width: 50px;
    height: 40px;
    z-index: 98;

    .jk-hamburger-icon {
        width: 100%;
        position: absolute;
        height: 1px;
        background-color: #fff;
        transition: all 0.3s;

        &::before {
            content: ' ';
            min-width: 100%;
            height: 1px;
            background-color: #fff;
            position: absolute;
            margin-top: 25%;
            transition: all 0.4s;
        }

        &::after {
            content: ' ';
            width: 100%;
            height: 1px;
            position: absolute;
            top: 50%;
            margin-top: 50%;
            background-color: #fff;
            transition: all 0.4s;
        }
    }

    &:hover .jk-hamburger-icon {
        transform: rotate(-135deg);

        &::after {
            transform: rotate(90deg);
            left: -50%;
            margin-top: 50%;
        }

        &::before {
            transform: rotate(180deg);
            margin: 0;
            opacity: 0;
        }
    }
}

.jk-display {
    display: none;
}

.jk-active {
    color: $active !important;
}

.jk-blank {
    width: 0;
    height: 0;
    display: block;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    left: -10%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    border-radius: 50%;
    z-index: 98;
    background-color: #1e2226;
}

.jk-nav {
    width: 100vw;
    min-height: 100vh;
    position: fixed;
    background-color: #1e2226;
    top: 0;
    left: 0;
    z-index: 99;
    -webkit-box-shadow: 5px 0 11px 1px #1b1e22;
    box-shadow: 5px 0 11px 1px #1b1e22;

    ul {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        list-style: none;
        justify-content: center;
        align-items: center;
        margin: auto;
        padding: 0;

        .jk-nav-btn {
            width: 100vw;
            height: 9vh;
            align-items: center;
            justify-content: center;
            background-color: $active;
            color: $darkText;
        }
    }

    ul li {
        align-self: center;
        color: $normalText;
        text-align: center;
        height: auto;
        width: 49%;
        margin: auto;
        height: 30vh;
        background-color: #181c1f;
        border: 1px solid #1e2226;
        font-size: 11px;
        font-weight: 500;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        position: relative;
        overflow: hidden;
        transition: all 0.2s;

        &:hover {
            color: $active;
            background-color: #2b3339;
        }

        i {
            font-size: 40px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
        }

        span {
            margin-bottom: 15px;
        }
    }

}

.jk-content-wrap {
    width: 100%;
}

.jk-breaker-ico {
    max-height: 180px;
}

h1 {
    font-size: $lg;
    font-weight: $strong;
    opacity: 0.9;
}

h2 {
    font-size: $lg;
    opacity: 0.75;
}

p {
    font-size: $sm;
    font-weight: $thin;
    opacity: 0.55;
}

.jk-main {
    display: flex;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    align-items: center;
    justify-items: center;
}

.jk-progress {
    position: absolute;
    width: 100vw;
    height: 2px;
    background-color: $darkText;
    left: 0;
    top: 0;
    z-index: 90;
    overflow: hidden;
    transition: all 0.6s;

    .fill {
        background-color: $active;
        width: 0;
        height: 10px;
        left: 0;
        top: 0;
    }
}

.jk-scroll-indicator {
    position: fixed;
    left: 26%;
    bottom: 8%;
    transform: translateX(-50%);
    padding: 0;
    width: 50px;
    height: 50px;
    text-align: center;
    transition: all 0.2s;

    .jk-arrow {
        width: 100%;
        height: 30px;
        transition: all 0.2s;
        background-color: #1e2226;
        border: 1px solid #2b3138;

        &::before {
            content: 'TOP';
            font-size: 10px;
            font-weight: 300;
            color: rgba(255, 255, 255, 0.5);
            width: 10px;
            height: 10px;
            transition: all 0.2s;
        }
    }


    &:hover {
        cursor: pointer;

        .jk-arrow {
            background-color: #252b31;
        }

        .jk-arrow::before {
            color: rgba(255, 255, 255, 1);
        }
    }

    .jk-dot {
        margin-left: auto;
        margin-right: auto;
        border: 1px solid #fff;
        width: 10px;
        height: 10px;
        border-radius: 10px;
        margin-top: 5px;
        animation: pulse 1.5s infinite;

        .scroll-icon {
            max-height: 30px;
            filter: invert(100%);
            position: absolute;
            left: -135%;
            top: -90%;
        }
    }

    .jk-del-1 {
        animation-delay: 1.7s;
    }

    .jk-del-2 {
        animation-delay: 1.9s;
    }

    @keyframes pulse {
        0% {
            transform: scale(1.3);
            border-color: $active;
        }

        50% {
            transform: scale(1);
            border-color: #fff;
        }

        100% {
            transform: scale(1.3);
            border-color: $active;

        }
    }
}

.jk-content {
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 2%;
    overflow-y: auto;
    background-color: #131618;
    color: #fff;
    display: flex;
}

#realContent {
    transition: all 0.2s;
}

.jk-dark-color {
    color: $darkText;
    letter-spacing: 20px;
    display: block;
    margin-top: 5%;
    opacity: 0.3;
    animation: jk-spacing 10.5s infinite;

    @keyframes jk-spacing {
        0% {
            letter-spacing: 14px;
            transform: scale(1.2);
        }

        50% {
            letter-spacing: 0px;
            transform: scale(1);
        }

        100% {
            letter-spacing: 14px;
            transform: scale(1.2);
        }
    }
}

.jk-block {
    background-color: #1b1e22;
    min-width: 100%;
    height: 100px;
}

.jk-loader {
    width: 120px;
    height: 120px;
    border: 5px solid $darkText;
    border-radius: 50%;
    animation: jk-load-anim 0.9s infinite;

    @keyframes jk-load-anim {
        0% {
            transform: scale(0);
            opacity: 0;
        }

        ;

        50% {
            transform: scale(0.65);
            opacity: 0.4;
        }

        100% {
            transform: scale(1);
            opacity: 0;
        }

        ;
    }
}